#matrix{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;

    p{
        margin: 0;
        color: #43c900;
        writing-mode: vertical-rl;
        text-orientation: upright;
        transform: translateY(-100%);
        text-shadow: 0 0 50px pink;

        animation: descer-texto;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
        
    }

    p:nth-child(1){
        animation-delay: 1s;
    }

    p:nth-child(2n){
        animation-delay: 0.5s;
        opacity: 0.5;
    }

    p:nth-child(3n){
        animation-delay: 3s;
    }

    p:nth-child(4n){
        animation-delay: 1s;
    }

    p:nth-child(5){
        animation-delay: 1.2s;
    }

    p:nth-child(6){
        animation-delay: 0.7s;
    }
}

@keyframes descer-texto{
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(100%);
    }
}